@import-normalize;
@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap");

p > a,
p > a:link {
  background-color: $electric-indigo;
  color: #fff;
  padding: 0px 8px;
  font-weight: bold;
  border: 5px solid $neon-green;
  &:hover {
    background-color: $purple-dark;
    border-color: $pink;
  }
}

.button {
  background-color: $purple;
  color: $white;
  border: 10px solid $neon-green;
  width: auto;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $purple-dark;
    border-color: $pink;
    transform: translateY(3px) translateX(3px);
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
