@import "./colors.scss";

.window-content.window-content__static.blog-list-item {
  max-width: 650px;
  padding: 30px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.blog-list-section {
  text-align: center;
  padding: 40px 20px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

}

.blog-list-title {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}