.headshot {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
        width: 100px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}