.headshot-container {
  position: relative;
  display: flex;
  width: 220px;
  float: left;
  margin-right: 20px;
  @media screen and (max-width: 768px) {
    width: 110px;
  }

  .headshot {
    border-radius: 50%;
    width: 200px;
    float: left;

    @media screen and (max-width: 768px) {
      width: 100px;
    }
  }

  .hello {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 100px;
  }
}
