// Learn about how this was made:
// @link https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/

@import "./colors.scss";
$transition: 280ms all 120ms ease-out;

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

    > li {
      a,
      .dropdown__title {
        color: $black;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        line-height: 20px;
        display: block;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
          color: $purple;
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;

    li {
      padding: 0;
    }
  }
}

.dropdown {
  position: relative;

  .dropdown__title {
    background-color: transparent;
    border: none;
    font-family: inherit;
    align-items: center;
    font-size: 1em;
  }

  .dropdown__menu {
    position: absolute;
    min-width: 200px;
    transition: $transition;
    transform-origin: top center;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);

    a,
    button {
      color: $black;
      display: block;
      padding: 10px;
      opacity: 0;
      transition: $transition;
      border: 0;
      font-size: 1em;
      width: 100%;
      text-align: left;
      font-weight: bold;
      background: none;

      &:hover {
        background-color: rgba($black, 0.15);
        cursor: pointer;
      }

      &:focus {
        outline: none;
        background-color: rgba($black, 0.25);
      }
    }
  }

  &:hover,
  &:focus-within {
    .dropdown__menu {
      opacity: 1;
      visibility: visible;

      a,
      button {
        opacity: 1;
      }
    }

    &:after {
      opacity: 1;
    }
  }
}

hr {
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: visible;
    opacity: 1;
    color: $black;
    display: block;
    padding: 10px;
    border: 0;
    font-size: 1em;
    width: 100%;
    text-align: left;
    font-weight: bold;
    background: none;
  }

  .menu__items {
    display: none;
    top: 40px;
    left: 0px;
    width: 100vw;
    height: auto;
    overflow: scroll;
    z-index: 999;
    background-color: #f7f7f7;
    flex-direction: column;
    align-items: start;
    border: 3px solid $purple-dark;
    box-shadow: 5px 5px 0px #000; /* Retro shadow effect */

    &.menu__items--open {
      position: absolute;
      display: flex;
      .dropdown {
        width: 100%;
        text-align: center;
      }
      .dropdown__title {
        display: none;
      }
      .dropdown__menu {
        opacity: 1;
        visibility: visible;
        position: relative;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background: none; 

        &.mobile__hidden {
          display: none;
        }

        a,
        button {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
    opacity: 0;
  }
}
