@import "./colors.scss";

section {
  margin: 0 auto;
  max-width: 1800px;
}

.heading-container {
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.portfolio-item-image {
  max-height: 200px;
  width: 100%;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.portfolio-item {
  margin-top: -100px;
}

.portfolio-item {
  & > .window-content {
    max-width: 1500px;
  }
}

#portfolio-heading {
  margin: 0px;
  font-size: 55px;
  color: $electric-indigo;
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.portfolio-heading-container {
  position: relative;
  background-color: #e1e1e1;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.badge {
  background-color: $neon-green;
  color: $electric-indigo;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  right: 15px;
  text-transform: uppercase;
  transform: rotateZ(6deg);
}

.window-content.window-content__static {
  max-width: 425px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  align-self: stretch;
  justify-content: space-between;

  // &:nth-child(1) {
  //   transform: translateY(-200px) translateX(-50px);
  // }
  // &:nth-child(2) {
  //   transform: translateY(25px) translateX(0px);
  // }
  // &:nth-child(3) {
  //   transform: translateY(-75px) translateX(50px);
  // }
}

img {
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
  transform-origin: top right;
  animation: float 6s ease-in-out infinite;
}

h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-style: italic;
  font-family: Orbitron;
  mix-blend-mode: hard-light;
  color: rgba(0, 0, 0, 0.6);
}

.mq-small-image {
  max-height: 400px;
  padding-right: 20px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  // font-style: italic;
  font-family: Orbitron;
}

hr {
  margin: 10px 0;
}

img {
  width: 100%;
}

.details {
  background-color: $purple;
  color: $white;
  border: 10px solid $neon-green;
  width: auto;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  width: 100%;
  &:hover {
    background-color: $purple-dark;
    border-color: $pink;
    transform: translateY(3px) translateX(3px);
  }
}

.window-content-small {
  border: 5px solid $purple-dark;
  justify-self: stretch;

  & > .window-content-header {
    background-color: $gray;
    color: $purple-dark;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-bottom: 5px solid $purple-dark;

    & > .square {
      display: block;
      width: 15px;
      height: 15px;
      background-color: $purple;
      border: 2px solid $pink;
      border-radius: 5px;
    }
  }
  & > .window-content-small-container {
    padding: 20px;
    ul {
      list-style: none; /* Remove default */
      list-style-position: outside;
      list-style-image: url(../assets/sparkle-bullet-point.png);
      padding-left: 15px;
      padding-top: 10px;
      li {
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }
  }
}

.window-content-grid {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

blockquote {
  background-color: $light-blue;
  border: 3px solid $purple-dark;
  border-left: 10px solid $pink; /* Contrasting blue border */
  color: #000;
  padding: 20px;
  font-weight: 600;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  box-shadow: 5px 5px 0px #000; /* Retro shadow effect */
  p {
    margin: 0;
    font-size: 0.9rem;
    font-family: "Courier New", Courier, monospace;
  }
  cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
    color: $purple-dark;
    text-align: right;
    font-size: 0.9rem;
    font-family: "Courier New", Courier, monospace;
  }
}
